body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #317eac;
}
h6{
  color: #666;
  font-size: 12px;
  margin: 15px 0;
}
a {
  color: #00B7FF;
}
p.glyphicon-ok-sign{
  color: green;
  padding-top: 8px;
}
p.glyphicon-remove-sign{
  color:  red;
  padding-top: 8px;
}
input[type=color]{
  border: none;
  width: 40px;
  height: 22px;
  position: relative;
  top: 5px;
}

/*上传头像  input：file的样式设置*/
.file {
    position: relative;
    display: inline-block;
    background: #F1F1F1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: black;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    box-shadow: 0 0 1px  #ccc;
    text-decoration: none;
    color: black;
}
/*关于侧边栏的样式设置*/
.aside .tools .active{
    background-color: #4B8DF9;
    border:1px solid #4B8DF9;
}
.aside .tools .active a{
  	color: white;
}
.aside .tools a{
  	color:  black;
  	font-weight: bold;
}
.aside .tools a:hover{
	text-decoration: none;
}
.aside ul{
	list-style: none;
	padding: 0;
}
.aside ul li{
	padding: 5px 0;
	border-bottom: 0.5px dotted #ccc;
}
.user-box{
  padding: 20px;
  padding-bottom: 5px;;
  background-color: #F1F1F1;
}
.bookcover{
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-color: red;
}
