body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #317eac;
}
h6{
  color: #666;
  font-size: 12px;
  margin: 15px 0;
}
a {
  color: #00B7FF;
}
p.glyphicon-ok-sign{
  color: green;
  padding-top: 8px;
}
p.glyphicon-remove-sign{
  color:  red;
  padding-top: 8px;
}

