<div class="container" ng-app="findApp" ng-controller="findCtrl">
    <h2>全部日记</h2>
    <hr>
    <article>
        <div class="diary_row" ng-repeat="diary in data">
        	<div class="diary_left">
                <!--作者默认头像-->
        		<a href=""><img src="../uploads/default.png" alt=""></a>
        	</div>
        	<div class="diary_right">
        		<h5>
        			<a href="">{{diary.name}}的日记</a>
        			<a href=""><small>[日记分类]</small></a>
        			<a href=""><small>[天气:{{diary.weather}}]</small></a>
        			<a href=""><small>[心情:{{diary.mood}}]</small></a>
        			<a href=""><small>[地点:{{diary.location}}]</small></a>
        		</h5>
        		<div class="diary_content">
        			<p>{{diary.diary}}</p>
        		</div>
        		<div class="bar">
        			<small>{{diary.time.second}}</small>
                    &#x3000;
        			<small>{{diary.comments.length}}回复</small>
        			<small>{{diary.pv}}喜欢</small>
        			<small></small>
        		</div>
        	</div>
        </div>
    </article>
</div>