<div class="container">
    <h3>修改密码</h3>
    <hr>
    <form class="form-horizontal">
         <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-4">
                <input type="password" ng-model="" class="form-control" id="inputPassword" placeholder="旧密码...">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-4">
                <input type="password" ng-model="" class="form-control" id="inputPassword" placeholder="新密码...">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-4">
                <input type="password" ng-model="" class="form-control" id="inputPassword" placeholder="确认密码...">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
        </div>
    </form>
</div>