<div>
    <div class="user-box">
        <dl>
            <dt>
                <img src="images/二维码.png" alt="">
            </dt>
            <dd>神仙于2017-2-16加入</dd>
            <dd>
                <div class="btn-group">
                    <label class="btn btn-default">
                        <a href="">TODOS</a>
                    </label>
                    <label class="btn btn-default">
                        <a href="">RSS</a>
                    </label>
                </div>
            </dd>
        </dl>
    </div>
    <h4>神仙的日记本(3)</h4>
    <ul>
        <li><span class="bookcover"></span><a href="">天气日记(0)</a></li>
        <li><span class="bookcover"></span><a href="">心情日记(0)</a></li>
        <li><span class="bookcover"></span><a href="">默认日记(0)</a></li>
    </ul>

    <h4>神仙关注的人</h4>
    <p>额，他还没有关注任何人</p>

    <h4>关注神仙的人</h4>
    <ul>
        <li>
            <a href=""><img src="" alt=""></a>
            <span>穷尽一生</span>
        </li>
    </ul>
</div>